{% extends "base.html" %}
{% load static %}
{% block class %}class="sub_page"{% endblock class %}
{% block main %}

  <!-- book section -->
  <section class="book_section layout_padding">
    <div class="container">
      <div class="heading_container">
        <h2>
          GIVE US REVIEWS & RATINGS
        </h2>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form_container">
            <form action="{% url "feedback" %}" method='POST'>{%csrf_token%}
              <div>
                <input type="text" class="form-control" name="user_name" required placeholder="Your Name" />
              </div>
              <div>
                <textarea class="form-control" id="exampleFormControlTextarea1" name="description" rows="3" required placeholder="Descriptions"></textarea>
              </div>
              <div>
                <select class="form-control nice-select wide" name="ratings_number">
                  <option value="" disabled selected>
                    Ratings
                  </option>
                  <option value="1">
                    1
                  </option>
                  <option value="2">
                    2
                  </option>
                  <option value="3">
                    3
                  </option>
                  <option value="4">
                    4
                  </option>
                  <option value="5">
                    5
                  </option>
                </select>
              </div>

              <div class="btn_box">
                <button>
                  Submit
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- end book section -->

  <!-- client section -->

  <section class="client_section layout_padding-bottom">
    <div class="container">
      <div class="heading_container heading_center psudo_white_primary mb_45">
        <h2>
          What Says Our Customers
        </h2>
      </div>
      <div class="carousel-wrap row ">
        <div class="owl-carousel client_owl-carousel">
          {% for k in review %}
          <div class="item">
            <div class="box">
              <div class="detail-box">
                <p>
                  {{k.Description}}
                </p>
                <h6>
                  {{k.User_name}}
                </h6>
                <p>
                 Ratings: {{k.Rating}}/5
                </p>
              </div>
              <div class="img-box">
                <img src="{% static 'images/client1.jpg' %}" alt="" class="box-img">
              </div>
            </div>
          </div>

          {% endfor %}
        </div>
      </div>
    </div>
  </section>

  <!-- end client section -->






{% endblock main %}